# Default ignored files
/../../Chapter4ObjectOrientedProg./.idea/shelf/
/../../Chapter4ObjectOrientedProg./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Chapter4ObjectOrientedProg./.idea/httpRequests/
# Ignored default folder with query files
/../../Chapter4ObjectOrientedProg./.idea/queries/
# Datasource local storage ignored files
/../../Chapter4ObjectOrientedProg./.idea/dataSources/
/../../Chapter4ObjectOrientedProg./.idea/dataSources.local.xml
